<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TgSeeker.Web</title>

    <script type="module" src="~/dist/assets/index.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/assets/index.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>